
.box {
    width: 200px;
    height: 200px;
    border: 8px solid #0DD99F;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #0DD99F;
    animation: animate-box 1.5s ease-in-out infinite alternate;
  }
  
  .box img {
    width: 50px;
    height: 50px;
  }
  
  @keyframes animate-box {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  .icon-box {
    align-items: center;
    justify-content: center;
    gap: 5rem;
    display: flex;
}

.icon-box div {
    width: 200px;
    height: 200px;
    border: 8px solid #0DD99F;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #0DD99F;
    
    

}

.icon-box img {
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 768px) {
  .slogan-txt {
    font-size: 1.8rem;
    line-height: 48px;
    padding-top: 30px;
  }

  .icon-box {
    gap: 5rem;
  }

  .icon-box div {
    width: 150px;
    height: 150px;
    border-width: 6px;
    border-radius: 60px;
    margin-top: 3rem;
    font-size: 0.8rem;
  }

  .icon-box img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .slogan-txt {
    font-size: 1.5rem;
    line-height: 40px;
    padding-top: 20px;
  }


  .icon-box {
    flex-direction: column;
    gap: 3rem;
  }

  .icon-box div {
    width: 120px;
    height: 120px;
    border-width: 4px;
    border-radius: 50%;
    margin-top: 2rem;
    font-size: 0.7rem;
  }

  .icon-box img {
    width: 30px;
    height: 30px;
  }
}

.slogan-txt-benefits {
  /* font-size: 5vh; */
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 64px;
  text-align: center;
  padding-top: 50px;
}