.sidebar {
    width: 250px;
    height: 80%;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    position: fixed;
    top:80px;
    left: 20px;
    overflow-y: auto;
  }
  
  .sidebar_header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #3a3a3a;
  }


  .sidebar_file {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 10px;
    margin: 20px 0;
    padding: 0 20px;
  }
  
  .sidebar_file:hover {
    background-color: #3a3a3a;
  }
  
  .sidebar_file-name {
    font-size: 16px;
    margin-left: 5px;
  }

 .sidebar_list{
  margin-left: 18px;
 }