.info{
  display: flex;
  gap: 6rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid #290840;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

#center_logo{
  font-size: 2rem;
}