@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.content {
  font-family: 'Audiowide';
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 1rem;
}

.linking {
  text-decoration: none;
}