.cardsContainer {
	display: flex;
	flex-direction: column;
}

.content {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* overflow-y: scroll; */
	text-align: center;
}
