.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: linear-gradient(to bottom, #16112d, #160a26, #290840);
}
.navbar {
	width: 100vw;
	height: 10vh;
	text-align: center;
}
.page {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 1000px) {
	.page {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.page > * {
		margin: 20px 0;
	}
}
